{% load static %}
<nav>
      
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo" width="80">

    <ul>
        <li><a href="{% url 'index' %}">Inicio</li>
        <li><a href="{% url 'portfolio' %}">Portfolio</li>
    </ul>
     <!--https://pixabay.com/es/users/markotopa-34397232/
    https://pixabay.com/es/sound-effects/handpan-dream-olistik-sound-project-patrizio-yoga-137080/
    https://pixabay.com/es/music/instrumentos-solistas-patrik-handpand-live-olistik-sound-project-patrizio-yoga-127281/
    -->
  <audio autoplay hidden>
    <source src="{% static 'sound/a-call-of-the-soul.mp3' %}" type="audio/mp3">
    Tu navegador no soporta el elemento de audio.
</audio>
</nav>
