@font-face{
    font-family: 'Corona';
    src: url(../fonts/Corona.ttf);
    font-family:'burtons' ;
    src: url(../fonts/burtons.ttf);
}
:root{
    --color-text:#164f6a;
    --color-nav-background: linear-gradient(#7AC4D1, #82a4aa);
    --font-title:'burtons';
    --font-body:'Corona';
    --color-background:#b9d3d8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: var(--color-text);
    margin: 0;
    font-family: var(--font-body);
    font-size: 20px;
}

nav {
    display: flex;
    width: 100vw;
    background: var(--color-nav-background);
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img{
    margin:2vw;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    
}

nav ul li{
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--color-text);
}

nav ul li a{
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 30px;
}

nav ul li a:hover{
    color: var(--color-background);
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    padding: 50px;
    background-color: var(--color-background);
   }

.about {
    display: flex;
}
.random-img{
    border: 2px solid black;
}

.about-contnent{
    width: 350px;
    padding: 25px;
}

.imagenes{
    width: 200px;  
    height: 300px; 
    border: 2px solid black;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    color: var(--color-text);
    font-family: var(--font-body);
}

footer {
    width: 100vw;
    background: var(--color-nav-background); 
    min-height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center ;
}
footer img{
    margin: 25px;
}

footer ul{
    list-style-type: none;
}

footer ul li a{
    color:var(--color-text);
    text-decoration: none;
    font-size: 20px;
}

footer ul li a:hover{
    color: var(--color-background);
}
 
footer p{
    font-size: 10px;
}




